<!DOCTYPE html>
<meta charset=UTF-8>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html"	charset=utf-8" />
	<title>Error</title>
	{% block stylesheets %}
	  <link href="{{ asset('bundles/digitalrepcyos/css/style.css') }}" rel="stylesheet" />
	{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div id="content">
	  {% block body %}
	  {% endblock %}
	</div>
  </body>
</html>